# Ambiente virtual
venv/

# Cache do Python
__pycache__/
*.pyc

# Huggingface cache
.cache/

# documentos originais
convencoes coletivas/

# debug database
observability/debug_history.db

.streamlit/secrets.toml